<p style="color: green"><%= notice %></p>

<h1>Aircraft</h1>

<div id="aircrafts">
  <% @aircrafts.each do |aircraft| %>
    <p>
      <%= link_to aircraft.to_s, aircraft %>
    </p>
  <% end %>
</div>

<%= link_to "New aircraft", new_aircraft_path %>
