<p style="color: green"><%= notice %></p>

<h1>Flights for <%= @aircraft.tail %></h1>

<div id="flights">
  <% @flights.each do |flight| %>
    <p>
      <%= link_to flight.to_s , flight %>
    </p>
  <% end %>
</div>

<%= render "import" %>
